body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0 auto;
    align-items: center;    
    background-color:rgb(246, 248, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    color:blue;
}
.content{
    width: 800px;    
    border: 1px solid lightgrey;
    box-sizing: border-box;
    text-align: center;    
}
.btnsearch {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1f1c66;
    color: white;
    border: none;
    border-radius: 5px;    
    margin-left: 10px; 
}
.searchbox {
    padding: 10px 15px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;   
}

.heading{
    color:#711414;
    font-family:Georgia, 'Times New Roman', Times, serif;
}